# Basic Python Revision

### Assigment question's

In [1]:
'''

Ques 1: Answer these 3 questions without typing code. Then type code to check your answer.
What is the value of the expression 4 * (6 + 5)
What is the value of the expression 4 * 6 + 5 
What is the value of the expression4 * 6 + 5

Ques 2: What is the type of the result of the expression 3 + 1.5 + 4?
Ques 3: What would you use to find a number’s square root, as well as its square?
Ques 4: Given the string 'hello' give an index command that returns 'e’.
Ques 5: Reverse the string 'hello' using slicing
Ques 6: Given the string hello, give two methods of producing the letter 'o' using indexing.

Ques 7: Check if a list contains an element

Ques 8: priint the strings present in reverse order and items also inreversse manner

Ques 9: print("the homogeneos list in descendiing order

Ques 10: print( odd index number items present in list

'''

"\n\nQues 1: Answer these 3 questions without typing code. Then type code to check your answer.\nWhat is the value of the expression 4 * (6 + 5)\nWhat is the value of the expression 4 * 6 + 5 \nWhat is the value of the expression 4 + 6 * 5 \n\nQues 2: What is the type of the result of the expression 3 + 1.5 + 4?\nQues 3: What would you use to find a number’s square root, as well as its square?\nQues 4: Given the string 'hello' give an index command that returns 'e’.\nQues 5: Reverse the string 'hello' using slicing\nQues 6: Given the string hello, give two methods of producing the letter 'o' using indexing.\n\n"

In [4]:
# answer 1
print(4*(6+5)) #44
print(4 * 6 + 5) #29
print(4 + 6 * 5) #34

44
29
34

In [5]:
# answer 2
print(3 + 1.5 + 4) # float

8.5

In [6]:
# answer 3
print(5 ** 0.5) # sqrt with power

2.23606797749979

In [7]:
# answer 4/5/6
str = "hello"
print(str[1])

e

In [8]:
print(str[::-1])

olleh

In [10]:
print(str[4])
print(str[-1])

o
o

In [ ]:
# create a lottery game

guess_num = 5
user_num = int(input("Guess any number: "))

if(user_num > guess_num):
    print("lower down your guess")
elif(user_num < guess_num):
    print("increases your guess value")
else:
    print("You won Lottery!!!")

In [2]:
# nested loop
# Q: you have to fetch all the item from list and then acess all charcter of item of list.
a = ["akash","mango","apple"]
for i in a:
    for j in i:
        print(j, end=" ")

a k a s h m a n g o a p p l e

In [4]:
# print even or odd
num = int(input("Enter num: "))
if num % 2 == 0:print("Even")
else:print("Odd")

Enter num: 80
Even

In [6]:
# vowel or not
a = ['a','e','i','o','u']

char = input("Enter character : ")
if char in a:
    print("Its vowel")
else:
    print("not a vowel ")

Enter character : a
Its vowel

In [3]:
a=15
b = int(input("guess the number"))
while b!=a:
    print('wrong! try again')
    b=int(input())
print('correct')

guess the number15
correct

### lecture 2 Assignment

In [4]:
'''
Q1: Write a Python function to sum all the numbers in a list
Q2: Write a Python function that takes a list and returns a new list with unique elements of the first list
Q3: Write a Python program to print the even numbers from a given list
Q4: Write a function func1() such that it can accept a variable length of  argument and print all arguments value
Q5: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call
Q6: Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary


'''

'\nQ1: Write a Python function to sum all the numbers in a list\nQ2: Write a Python function that takes a list and returns a new list with unique elements of the first list\nQ3: Write a Python program to print the even numbers from a given list\nQ4: Write a function func1() such that it can accept a variable length of  argument and print all arguments value\nQ5: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call\nQ6: Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary\n\n\n'

In [7]:
# sol 1
num_lis = [1,2,3,4,5,6,7,8,9,10]
print(sum(num_lis))

55

In [9]:
# sol 2
def uniquelis(lis):
    uni_lis = []
    for i in lis:
        if i not in uni_lis:
            uni_lis.append(i)
    return uni_lis

x = [1,1,2,2,3,3,4,4,5,5]
print(uniquelis(x))

[1, 2, 3, 4, 5]

In [11]:
# sol 3
def evenNum(lis):
    even_lis = []
    for i in lis:
        if i%2 == 0:
            even_lis.append(i)
    return even_lis

x = [1,2,3,4,5,6,7,8,9,10]
print(evenNum(x))

[2, 4, 6, 8, 10]

In [14]:
# sol 4
def fact1(*arg):
    for i in arg:
        print(i)
        
fact1(1,2,3,4,8,2,6,9,2,63,5,5,2,2)

1
2
3
4
8
2
6
9
2
63
5
5
2
2

In [21]:
# sol 5
def cal(a,b):
    return a+b,a-b

x,y = cal(5,10)
print(x,y)

15 -5

In [20]:
# sol 6
def showEmployee(name,salary = 9999):
    print(f"{name} earning is {salary}")
    
showEmployee("Akash",10000)

Akash earning is 10000

# Lecture 3

In [4]:
import pandas as pd
data = pd.Series([1,2,3,4,5,6])
data

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
# get index value
data.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
data.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [17]:
data = pd.Series([10,20,30,40,50,60,70],index=['a','b','c','d','e','f','g'])
data.index
data.values
data['c']
data['a':'c']

a    10
b    20
c    30
dtype: int64

In [19]:
# Lec 3
a = (10,20,30,40,50,60,70)
df = pd.Series(a,dtype=float,index=range(1,8))
df

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
dtype: float64

In [28]:
a = {'a':22,'b':23,'c':25}
df = pd.Series(a)
df

a    22
b    23
c    25
dtype: int64

### DataFrame

In [35]:
a = [1,2,3,4]
b = [5,6,7,8]

numSet = list(zip(a,b))

df = pd.DataFrame(numSet,columns = ['x','y'])
df

   x  y
0  1  5
1  2  6
2  3  7
3  4  8

In [38]:
df.to_csv("dataframe1.csv")
df_read = pd.read_csv("dataframe1.csv")
df_read

   Unnamed: 0  x  y
0           0  1  5
1           1  2  6
2           2  3  7
3           3  4  8

In [41]:
df_read['x']

0    1
1    2
2    3
3    4
Name: x, dtype: int64

In [42]:
#dic to pandas
d = {'a':[1,2],'b':[3,4]}
df = pd.DataFrame(d)
df

   a  b
0  1  3
1  2  4

### Assignment

In [24]:
'''

Q1. Write a Pandas program to convert Series of lists to one Series.
Q2. Write a Pandas program to compare the elements of the two Pandas Series. 
Q1. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
Q1. Write a Pandas program to convert Series of lists to one Series.
Q1. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. 
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]


'''

'\n\nQ1. Write a Pandas program to convert Series of lists to one Series.\nQ1. Write a Pandas program to compare the elements of the two Pandas Series. \nQ1. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]\nQ1. Write a Pandas program to convert Series of lists to one Series.\nQ1. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. \nSample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]\n\n\n'

In [47]:
# sol1
data = pd.Series([[1,2],[3,4],[5,6],[7,8]])
data = data.apply(pd.Series)
data

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [51]:
# sol2
a = pd.Series([1,2,3])
b = pd.Series([3,2,1])

print(a > b)
print(a < b)
print(a == b)

0    False
1    False
2     True
dtype: bool
0     True
1    False
2    False
dtype: bool
0    False
1     True
2    False
dtype: bool