# StackFlow_CaseStudy

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [12]:
data1 = pd.read_csv("Dataset/users.csv")
data2 = pd.read_csv("Dataset/post.csv")
df = data.copy()
rep = df.reputation.max()
name = np.array(df.displayname[df.reputation == rep])
for i in name:
    name = i
    
user_id= np.array(df.userid[df.displayname == name])
for i in user_id:
    user_id = i
    
    
print(rep,name,user_id)

736381 Jon Skeet 22656

In [20]:
# Find the average age of users on the Stack Overflow site.

data = pd.read_csv("Dataset/users.csv")
df = data.copy()
#df.age.fillna(0.0)
df.age.mean(axis=0,skipna = True)

35.263352397712275

In [33]:
# Find the display name of user who posted the oldest post on Stack Overflow (in terms of date).
data1 = pd.read_csv("Dataset/users.csv")
data2 = pd.read_csv("Dataset/post.csv")
df1 = data1.copy()
df2 = data2.copy()
#user_name_np = np.array()
user_name = pd.DataFrame(df1.displayname)
user_name
post_date = pd.DataFrame(df2.creationdate)
post_date['creationdate'] =post_date['creationdate'].astype('datetime64[ns]')
print(post_date.creationdate.min())

2008-01-08 00:42:00

In [41]:
# Find the display name and no. of comments done by the user who has got maximum reputation.
data1 = pd.read_csv("Dataset/users.csv")
data2 = pd.read_csv("Dataset/comments.csv")
df = data1.copy()
df1 = data2.copy()
#max reputation
rep = df.reputation.max()
# user name
name = np.array(df.displayname[df.reputation == rep])
for i in name:
    name = i
#user id
user_id= np.array(df.userid[df.displayname == name])
for i in user_id:
    user_id = i

# number of comments
comm = len(np.array(df1.userid[df1.userid == user_id]))

print(rep,name,user_id,comm)

736381 Jon Skeet 22656 765

In [59]:
# Find the display name of user who has created maximum no. of posts on Stack Overflow. Overflow
data1 = pd.read_csv("Dataset/users.csv")
data2 = pd.read_csv("Dataset/post.csv")
df = data1.copy()
df1 = data2.copy()

max_com = df1.userid.value_counts().index.tolist()[0]
user_name = np.array(df.displayname[df.userid == max_com ])
for i in user_name:
    print(i)

aku

In [71]:
# Find the owner name and id of user whose post has got maximum no. of view counts so far.
data1 = pd.read_csv("Dataset/users.csv")
data2 = pd.read_csv("Dataset/post.csv")
df = data1.copy()
df1 = data2.copy()

max_view = df1.viewcount.fillna(0.0)
max_view = df1.viewcount.max()
user_id = np.array(df1.userid[df1.viewcount == max_view])
#user_id
for i in user_id:
    user_id = i

user_name = np.array(df.displayname[df.userid == user_id])
for i in user_name:
    print(i)

Shadow_x99

In [25]:
# Find the title and owner name of post who has got maximum no. of Comment count.
data1 = pd.read_csv("Dataset/users.csv")
data2 = pd.read_csv("Dataset/post.csv")
df = data1.copy()
df1 = data2.copy()

df1.commentcount.fillna(0,inplace= True)
df1[df1.commentcount.astype(str).str.isdigit()]
df1.commentcount.describe()
# max_com = pd.DataFrame(df1.commentcount)
# max_com.value_counts().head(50)
#pd.max(df1.commentcount)
# max_comm = pd.DataFrame(df1.commentcount)
# max_comm = max_comm.dropna()
# max_comm = max_comm.max()
#df1.commentcount
#df1.commentcount.isnull().sum()
#max_view_com = df1.commentcount.max()
#max_view_com

count     50000
unique      116
top           0
freq      35740
Name: commentcount, dtype: int64

In [60]:
#method 1
data = pd.read_csv("Dataset/users.csv")
df = data.copy()
df.location.value_counts()[:1]
#df.loc.value_counts()

United States    2452
Name: location, dtype: int64

In [59]:
# method 2
data = pd.read_csv("Dataset/users.csv")
df = data.copy()
locate = pd.DataFrame(df.location.dropna())
np_locate = np.array(locate)

for i in range(len(np_locate)):
    if 'United States' in np_locate[i]:
        np_locate[i] = 'United States'
    if 'India' in np_locate[i]:
        np_locate[i] = 'India'
    if 'Australia' in np_locate[i]:
        np_locate[i] = 'Australia'
    if 'United Kingdom' in np_locate[i]:
        np_locate[i] = 'United Kingdom'
        
pd_loc = pd.DataFrame(np_locate)
pd_loc.value_counts()[:1]

United States    2452
dtype: int64

In [79]:
data = pd.read_csv("Dataset/users.csv")
df = data.copy()
df.location.dropna(inplace = True)
#locate = pd.DataFrame(df.location.dropna(),inplace = True)
np_locate = np.array(locate)

for i in range(len(np_locate)):
    if 'India' in np_locate[i]:
        np_locate[i] = 'India'
        
        
locate = pd.DataFrame(np_locate)
locate
#user_id = df[df.displayname[df.location == 'India']]

                       0
0           West Linn OR
1          United States
2         Los Angeles CA
3            New York NY
4         Toronto Canada
...                  ...
29786     Dublin Ireland
29787  Vilnius Lithuania
29788   San Francisco CA
29789              India
29790       Paris France

[29791 rows x 1 columns]