# Book Analysis using NumPy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [18]:
data = pd.read_csv('book.csv')
df = data.copy()
df = df.drop(['Unnamed: 0','Unnamed: 0.1'],axis = 1)
df = df.dropna()
df.shape

(68100, 12)

In [20]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton california usa""",18
9258,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,2954.0,8.0,"wichita kansas usa""",71
9259,440235502,October Sky: A Memoir,Homer Hickam,1999,Dell,http://images.amazon.com/images/P/0440235502.0...,http://images.amazon.com/images/P/0440235502.0...,http://images.amazon.com/images/P/0440235502.0...,2954.0,10.0,"wichita kansas usa""",71
9260,380973499,War's End: An Eyewitness Account of America's ...,Charles W. Sweeney,1997,William Morrow &amp; Company,http://images.amazon.com/images/P/0380973499.0...,http://images.amazon.com/images/P/0380973499.0...,http://images.amazon.com/images/P/0380973499.0...,2954.0,7.0,"wichita kansas usa""",71
9262,031224116X,Murder on the Mauretania (George Porter Dillma...,Conrad Allen,2000,St. Martin's Minotaur,http://images.amazon.com/images/P/031224116X.0...,http://images.amazon.com/images/P/031224116X.0...,http://images.amazon.com/images/P/031224116X.0...,2954.0,8.0,"wichita kansas usa""",71

In [13]:
np_year = df["Year-Of-Publication"].to_numpy()
np_year

array(['2002', '1991', '1999', ..., '1969', '1985', '1998'], dtype=object)

In [14]:
year_dic = dict()
for yea in np_year:
    if yea in year_dic.keys():
        year_dic[yea] += 1
    else:
        year_dic[yea] = 1
print(year_dic)

{'2002': 5937, '1991': 1902, '1999': 5105, '1997': 3941, '2000': 4933, '1996': 3956, '2001': 5391, '1998': 4259, '1995': 3467, '1994': 3075, '1992': 2221, '1988': 1289, '1989': 1597, '1978': 325, '1986': 979, '1993': 2611, '1985': 861, '2004': 1867, '1983': 815, '2003': 4932, '1990': 1890, '1987': 1182, '1984': 952, '0': 981, '1979': 256, '1977': 263, '1980': 365, '1982': 686, 'Place\\"': 1, '1950': 10, '1976': 272, 'Carolyn Wyman': 1, '1975': 123, '1971': 63, '1961': 16, '1943': 1, '1953': 39, '1970': 72, '1968': 28, '1973': 104, 'for': 24, '1981': 517, "Child's": 16, '1974': 148, '1963': 23, '1969': 59, 'Andy Mangels': 1, '1958': 13, '1951': 6, '1923': 2, '1959': 39, '1972': 109, '1954': 17, 'Sara Bliss': 1, '1962': 14, '1965': 43, 'the': 14, 'French': 1, '2005': 4, '1946': 8, '1957': 23, 'Kids': 1, '1964': 15, '1967': 25, 'Why': 1, '1939': 1, 'You!\\"': 1, '1955': 13, '1942': 4, '1952': 5, '1960': 25, '(Easy': 2, 'Rawlins': 2, 'Grief\\"': 1, '1937': 3, 'Lover\\"': 1, '1966': 32, '...': 2, '2030': 3, '1920': 15, 'and': 4, 'Learn': 1, 'Douglas Rushkoff': 1, 'of': 4, 'Fall': 1, '1956': 13, 'a': 4, 'Mark Bernthal': 1, 'My': 1, '2011': 1, '1941': 2, 'Prince\\"': 3, 'Josep Lozano Lerma': 1, 'Juan Manuel de Prada': 1, 'Chet Flippo': 1, 'Mystery"': 1, '2020': 1, 'Cook"': 1, 'Named': 1, '1938': 2, 'to': 3, '1929': 1, 'Guide': 1, '1945': 1, '1936': 4, '1948': 2, '(MOPS...Because': 1, 'Joanne Stepaniak': 1, 'Go': 1, '(Bel': 2, '(Love': 1, '(Women': 1, 'It': 2, 'Sam Chaiton': 1, '(My': 1, 'Long': 1, '1911': 1, 'Trying': 1, 'Cancer\\"': 1, 'Leon Thompson': 1, 'Tale': 1, 'Wallpaper\\"': 1, 'Problem': 1, 'Through': 1, 'colonie': 1, 'Was': 1, 'Gilbert Hernandez': 1, 'Live': 1, '1940': 1, 'According': 1, 'Heights': 1, 'It\\"': 1, 'Woodland': 1, 'William F. Buckley': 1, 'Alvaro Reizabal': 1, 'Manuel Blanco Chivite': 1, 'Fatima Igramhan': 1, '1949': 2, '1925': 1, 'Greek\\"': 1, 'Back': 1, 'Live\\":': 1, 'Trilogy"': 1, 'okruzhaiushchaia': 1}

In [27]:
# other way
dff = np.array(df)
fre = dff[:,3].astype(str)
val,count = np.unique(fre,return_counts = True)

res = [str(a)+" "+str(b) for a,b in zip(val,count)]
res

['(Bel 2',
 '(Easy 2',
 '(Love 1',
 '(MOPS...Because 1',
 '(My 1',
 '(Women 1',
 '... 2',
 '0 981',
 '1911 1',
 '1920 15',
 '1923 2',
 '1925 1',
 '1929 1',
 '1936 4',
 '1937 3',
 '1938 2',
 '1939 1',
 '1940 1',
 '1941 2',
 '1942 4',
 '1943 1',
 '1945 1',
 '1946 8',
 '1948 2',
 '1949 2',
 '1950 10',
 '1951 6',
 '1952 5',
 '1953 39',
 '1954 17',
 '1955 13',
 '1956 13',
 '1957 23',
 '1958 13',
 '1959 39',
 '1960 25',
 '1961 16',
 '1962 14',
 '1963 23',
 '1964 15',
 '1965 43',
 '1966 32',
 '1967 25',
 '1968 28',
 '1969 59',
 '1970 72',
 '1971 63',
 '1972 109',
 '1973 104',
 '1974 148',
 '1975 123',
 '1976 272',
 '1977 263',
 '1978 325',
 '1979 256',
 '1980 365',
 '1981 517',
 '1982 686',
 '1983 815',
 '1984 952',
 '1985 861',
 '1986 979',
 '1987 1182',
 '1988 1289',
 '1989 1597',
 '1990 1890',
 '1991 1902',
 '1992 2221',
 '1993 2611',
 '1994 3075',
 '1995 3467',
 '1996 3956',
 '1997 3941',
 '1998 4259',
 '1999 5105',
 '2000 4933',
 '2001 5391',
 '2002 5937',
 '2003 4932',
 '2004 1867',
 '2005 4',
 '2011 1',
 '2020 1',
 '2030 3',
 'According 1',
 'Alvaro Reizabal 1',
 'Andy Mangels 1',
 'Back 1',
 'Cancer\\" 1',
 'Carolyn Wyman 1',
 'Chet Flippo 1',
 "Child's 16",
 'Cook" 1',
 'Douglas Rushkoff 1',
 'Fall 1',
 'Fatima Igramhan 1',
 'French 1',
 'Gilbert Hernandez 1',
 'Go 1',
 'Greek\\" 1',
 'Grief\\" 1',
 'Guide 1',
 'Heights 1',
 'It 2',
 'It\\" 1',
 'Joanne Stepaniak 1',
 'Josep Lozano Lerma 1',
 'Juan Manuel de Prada 1',
 'Kids 1',
 'Learn 1',
 'Leon Thompson 1',
 'Live 1',
 'Live\\": 1',
 'Long 1',
 'Lover\\" 1',
 'Manuel Blanco Chivite 1',
 'Mark Bernthal 1',
 'My 1',
 'Mystery" 1',
 'Named 1',
 'Place\\" 1',
 'Prince\\" 3',
 'Problem 1',
 'Rawlins 2',
 'Sam Chaiton 1',
 'Sara Bliss 1',
 'Tale 1',
 'Through 1',
 'Trilogy" 1',
 'Trying 1',
 'Wallpaper\\" 1',
 'Was 1',
 'Why 1',
 'William F. Buckley 1',
 'Woodland 1',
 'You!\\" 1',
 'a 4',
 'and 4',
 'colonie 1',
 'for 24',
 'of 4',
 'okruzhaiushchaia 1',
 'the 14',
 'to 3']

In [16]:
# year having maxbook 
max_book = max(year_dic,key=year_dic.get)
max_book

'2002'

In [25]:
# book based on rating 
rec = dff[dff[:,3] == '2002']
rate = rec[:,9]
val,rating = np.unique(rate,return_counts = True)


res = [str(a)+" "+str(b) for a,b in zip(val,rating)]
res

['0.0 3513',
 '1.0 6',
 '2.0 16',
 '3.0 31',
 '4.0 52',
 '5.0 171',
 '6.0 225',
 '7.0 448',
 '8.0 621',
 '9.0 395',
 '10.0 459']